.GoalItem {
    display: block;
}

.GoalItem button {
    background: transparent;
    border: none;
    display: flex;
    text-align: left;
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
}

.GoalItem button img {
    height: 24px;
    opacity: 0.25;
    transition: transform .2s ease-in-out;
    display: block;
    margin: auto 0;
}

.GoalItem.occurred button img {
    opacity: 1;
    transform: rotate(-45deg);
}

.GoalItem:hover {
    animation: Item-Pulse infinite 1s ease-in-out alternate;
}

@keyframes Item-Pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.03);
    }
}


.GoalItem .title {
    margin: auto 0 auto 24px;
    display: block;
    width: 100%;
}

.GoalItem.occurred .title {
    text-decoration: line-through;
}

.GoalItem .rate {
    margin: auto 0;
    font-size: 0.85rem;
}
